{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>加密/解密</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/perfect_blue.min.css') }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock head %}
    {% block headstop %} {% endblock headstop %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
		<li>
                   <a href="/" style="color: #495057;"><strong style="margin-right: 5px;">Home</strong></a>
          </li><li>          <a href="#about" style="color: #495057;">about</a>
            </li>    </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}
<main class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
    {% block content %}{% endblock content %}
    {% block footer %}
    <footer class="text-center">
        <p>
            <small> &copy; 2020 <a href="#" title="Written by HUCTF">HUCTF</a>
            </small>
        </p>
        <p>
            <small>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('user.logout', next=request.full_path) }}">Logout</a>
            |        <a href='{{ url_for('user.register', next=request.full_path)}}'>Register</a>
                {% else %}
                    <a href="{{ url_for('user.login', next=request.full_path) }}">Login</a>
            |        <a href='{{ url_for('user.register', next=request.full_path)}}'>Register</a>
                {% endif %}
            </small>
        </p>
    </footer>
    {% endblock footer %}
</main>



{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>
