<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>APIsap</title>
  {% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/common.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  {% endblock css %}
</head>
<body class="agora-theme">
  <div class="navbar-fixed">
    <nav class="agora-navbar">
      <div class="nav-wrapper agora-primary-bg valign-wrapper">
        <h5 class="left-align">APIsap 誓死捍卫你的api（scan and protect）</h5>
      </div>
    </nav>
  </div>
  <main class="container">
    {% block flash %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% endblock flash%}
    {% block content %} {% endblock content %}
    {% block footer %}
    <footer class="text-center">
        <p>
            <small> &copy; 2020 <a href="#" title="Written by HUCTF">HUCTF</a>
            </small>
        </p>
        <p>
            <small>
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('user.logout', next=request.full_path) }}">Logout</a>
            |        <a href='{{ url_for('user.register', next=request.full_path)}}'>Register</a>
                {% else %}
                    <a href="{{ url_for('user.login', next=request.full_path) }}">Login</a>
            |        <a href='{{ url_for('user.register', next=request.full_path)}}'>Register</a>
                {% endif %}
            </small>
        </p>
    </footer>
    {% endblock footer %}
  </main>

 
  </body>
  {% block script %}
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  {% endblock script %}
  </html>
